body {
	font-family: arial, sans-serif;
	text-align: justify;
}

strong {
	color: #444;
}
h3 {
	margin-top: 2em;
}
h3:first-of-type {
	margin-top: 1em;
}
h4,p {
	margin-left: .5em;
}

h4 {
	text-decoration: underline;
}